<div class="navbar">
    <h1 class="heading">Plan ur Budget</h1>
</div>

<div class="toggle-button-row" (click)="fnToggleSideNav()">
    <mat-icon class="">menu</mat-icon>
</div>

<div class="slide-out-panel" [class.slide-out]="blnSideNav">
    <div class="slide-out-content">
        <p class="edit-col" (click)="fnNavigate('dashboard')">Dashboard</p>
        <p class="edit-col" (click)="fnNavigate('profile')">Profile</p>
        <p class="edit-col" (click)="fnNavigate('history')">Previuos history</p>
        <p class="edit-col" (click)="fnNavigate('login')">Log out</p>
    </div>
</div>