<app-side-nav></app-side-nav>

<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <span class="icon income-icon"><mat-icon>attach_money</mat-icon></span>
                <h2 class="card-name">Income</h2>
            </div>
            <div class="income-details">
                <div class="month">
                    <h3>Last few months</h3>
                    <ul>
                        <li *ngFor="let income of lastMonthImcomeList">{{income}}</li>
                    </ul>
                </div>
            
                <div class="month">
                    <h3>Current Month</h3>
                    <ul>
                        <li>{{currentMonthImcome}}</li>
                    </ul>
                </div>

                <button class="button" (click)="fnIncomeClick()">View</button>
            </div>
        </div>

        <!-- ExpenseCard -->

        <div class="card">
            <div class="card-header">
                <span class="icon income-icon"><mat-icon>money_off</mat-icon></span>
                <h2 class="card-name">Expense</h2>
            </div>
            <div class="income-details">
                <div class="month">
                    <h3>Last few months</h3>
                    <ul>
                        <li *ngFor="let expense of lastMonthExpenseList">{{expense}}</li>
                    </ul>
                </div>
            
                <div class="month">
                    <h3>Current Month</h3>
                    <ul>
                        <li>{{currentMonthExpense}}</li>
                    </ul>
                </div>

                <button class="button" (click)="fnExpenseClick()">View</button>
            </div>
        </div>

        <!-- Todo -->

        <div class="card">
            <div class="card-header">
                    <span class="icon todo-icon"><mat-icon>assignment</mat-icon></span>
                <h2 class="card-name">Todo Transactions</h2>
            </div>
            <div class="income-details">
                <div class="month">
                    <ul>
                        <li *ngFor="let item of todoTransactions">
                          <span class="transaction-status">
                            <mat-icon>hourglass_empty</mat-icon>
                          </span>
                          <span class="transaction-details">{{ item.description }}</span>
                        </li>
                      </ul>
                </div>

                <button class="button" (click)="fnTodoClick()">View</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <span class="income-icon icon">
                    <img src="./assets/expense.png" class="icon" alt="icon">
                </span>
                <h2 class="card-name">Total Income</h2>
            </div>
            <div class="total-details">
                <div class="total-item">
                    <span class="icon income-icon"><mat-icon>attach_money</mat-icon></span>
                    <h3>Current Month Income</h3>
                    <p>{{tocalCurrentMonthIncome | currency}}</p>
                </div>

                <div class="total-item">
                    <span class="icon income-icon"><mat-icon>money_off</mat-icon></span>
                    <h3 class="marL16">Current Month Expense</h3>
                    <p>{{totalCurrentMonthExpense | currency}}</p>
                </div>

                <hr class="total-line">

                <div class="total-item">
                    <span class="icon income-icon"><mat-icon>account_balance_wallet</mat-icon></span>
                    <h3>Current Month Savings</h3>
                    <p>{{getCurrentMonthSavings | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>